#sidebar {
    width: flex; 
    height: flex; 
    background-color: #343A40 !important;
    display: flex;
    flex-direction: column;
}

/* Header */
.sidebar-header small {
    font-size: 13px !important;
}

/* CMS Dashboard — tidak berubah warna */
#sidebar .dashboard-noactive {
    background: transparent !important;
    color: #d6d6d6 !important;
}
#sidebar .dashboard-noactive:hover {
    background-color: rgba(255,255,255,0.1) !important;
    color: #fff !important;
}

/* Default link */
#sidebar .nav-link {
    padding: 10px 14px !important;
    color: #d6d6d6 !important;
    border-radius: 6px !important;
    background: transparent !important;
}

/* Hover */
#sidebar .nav-link:hover {
    background-color: rgba(255,255,255,0.1) !important;
    color: #fff !important;
}

/* Active */
#sidebar .nav-link.active {
    background-color: #f2f2e9 !important;  
    color: #2c3e50 !important;            
    font-weight: 600 !important;
}


/* Indent submenu */
#sidebar .ms-3 .nav-link {
    padding-left: 25px !important;
}

/* Dropdown arrow */
#sidebar .dropdown-toggle::after {
    float: right !important;
    margin-top: 6px !important;
}

/* --- RESET AKTIF UNTUK SEMUA MENU --- */
#sidebar .nav-link.active {
    background-color: #e8e6e3 !important; /* putih tulang */
    color: #333 !important;              
    border: none !important;
    outline: none !important;
}

/* Hover */
#sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
    color: #fff !important;
}

#sidebar .nav-link.cms-no-active.active {
    background: transparent !important;
    color: #d6d6d6 !important;
}


/* Logout hover */
.sidebar-logout a {
    transition: 0.2s ease-in-out !important;
}

.sidebar-logout a:active {
    background-color: #dc3545 !important; 
    color: #fff !important;
    border-radius: 5px !important;
}

.active-menu a {
    background-color: #1abc9c !important;  
    color: white !important;
    border-radius: 6px;
}

.active-menu a i {
    color: white !important;
}

/* Hilangkan bullet pada item CMS Dashboard */
.no-bullet {
    list-style: none;
}

/* Bold tulisan CMS Dashboard */
.cms-title {
    font-weight: bold;
}

/* Kalau ingin bold hanya saat active */
.cms-title.active {
    font-weight: bold;
}

/* Hilangkan bullet global untuk jaga-jaga */
#sidebar li {
    list-style: none !important;
}

